*,
*:before,
*:after {
    box-sizing: border-box;
    outline: none;
}

html,
body,
#root {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
        Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

.App {
    position: fixed;
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;

    padding: 2.5%;
    overflow: hidden;

    background: #f7f7f7;
}

.full {
    display: flex;
    flex-direction: column;
    flex: 1 1 100%;

    position: relative;
    height: 100%;
    width: 100%;

    overflow: hidden;
}

a,
a:visited {
    color: orangered;
}

.Header {
    display: block;
}
.Header > * {
    display: inline-block;
    vertical-align: middle;
}
.Kitsu {
    height: 40px;
    width: 40px;
    margin: 10px;
    margin-left: 0;
}

.TableContainer {
    border-bottom: 1px solid darkgray;
}
.TableContainer--loading {
    border-bottom: none;
}

.Msg {
    background: #e8e8e8;
    padding: .5em;
    border-left: 0.5em solid #b5b5b5;
}

.Spin {
    animation: spin 1s infinite reverse;
}
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.Loading {
    height: 1px;
    color: transparent;
    background: orangered;
    border-radius: 100%;
    width: 0%;
    -webkit-animation: loading 1s infinite ease-in-out;
    animation: loading 2s infinite ease-in-out;
    margin: 0;
    z-index: 100;
}
@keyframes loading {
    0% {
        width: 0%;
        transform: translateX(0%);
    }
    45% {
        width: 100%;
        transform: translateX(0%);
    }
    55% {
        width: 100%;
        transform: translateX(0%);
    }
    99.9% {
        transform: translateX(100%);
        width: 100%;
    }
    100% {
        transform: translateX(0%);
        width: 0%;
    }
}
